* {
    background: #F1FFEA;
	margin: 0;
	padding: 0;
	

}
.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	position: relative;
}

.image {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow-y: hidden;
	overflow-x: hidden;

}

.image img {
	width: 40%;
	height: 55vh;
    position: absolute;
    margin-right: -1860px;
	top: 1px;
    position: absolute;
	
}



.image2 {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.image2 img {
	width: 40%;
	height: 50vh;
    position: absolute;
    margin-right: -1168px;
	top: 340px;
	
}






.form {
	flex: 1;
	padding: 80px;
	border-radius: 5px;
   position: relative;
    right: 650px;
	
}

h2 {
	text-align: center;
	margin-bottom: 20px;
    color: #4D7E3E;
    font-weight: 400;
    font-family: 'Krona One'
}
 .formp {
    text-align: center;
    
 }



input {
	display: block;
	width: 80%;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: none;
	background-color: #e0e0e0;
    position: relative;
    right: -50px;
    top: 100px;
	overflow-y: hidden;
	overflow-x: hidden;
}



.signin  {
	display: block;
	width: 100%;
	padding: 200.20px;
	border-radius: 5px;
	border: none;
	text-align: left;
	background-color: #0000;
	font-weight: bold;
	cursor: pointer;
   
}


.submit {
	background-color: #9E9E9E;
    top: 180px;
    left: 60px;
    width: 500px;
    
}

a {
    color: #4D7E3E;
}

i {
    position: absolute;
    right: 160px;
    top: 32%;
    background-color: #e0e0e0;
    transform: translateY(-50%);
}



	
